body{
    margin:0;
}
.header{
    font-size:25px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1em;
    line-height: 100%;
    color:#1DB954;
    text-align:center;
}

.main{
    background-color:#191414;
    padding: 3em;
    height: 90vh;
}

.container{
    display:flex;
    width: 95%;
    height: 100%;
    margin: auto;
    flex-flow: column wrap;
    align-items: center;
    justify-content:center;
    align-content: center;
    background-color: white;
    border-radius: 1em;
}

.progress-bar{
    width:100%;
    margin: 45px auto;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items: center;
    align-content: center;
}

.progress-box{
    width:20%;
    text-align: center;
}

.box{
    box-sizing: border-box;
    width:100%;
    border-radius:1em;
    height: 8px;
    background-color: #191414;
    margin: 1em auto;
}

.progress-text{
    font-size:1.5em;
    font-weight:bold;
    color: #1DB954;
}

.question{
    width: 80%;
    line-height: 180%;
    letter-spacing: 0.5px;
    margin: 1em auto 40px;
    font-size: 21px;
    font-weight: bold;
    text-align:center;
}

.count{
    font-size:1.5em;
    font-weight: 500;
    color:red;
    font-weight: 600;
}

.cnt{
    font-weight: 700;
}

#box1,#box2,#box3,#box4{
    width:0;
    height: 100%;
    background-color: #1DB954;
    border-radius: 1em;
    transition:all 0.8s;
}

#box1{
    width:25%;
}

.point{
    width: 10px;
    background-color:rgb(58, 58, 58);
    border-radius: 50%;
    height: 10px;
    cursor:pointer;
}

.line{
    width: 18%;
    background-color:grey;
    height: 2px;
}

.slider{
    width:100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
}

.label-container{
    display: flex;
    flex-flow:row wrap;
    width: 100%;
    justify-content: space-around;
}

.label{
    flex:1 1 15%;
    text-align:center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
    color: #1DB954;
}

.answer{
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-flow: column wrap;
}

.btn-container{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: 3em auto;
    justify-content: space-between;
    align-items:center;
}

.button{
    background-color:#191414;
    color:#1DB954;
    border:none;
    font-size: 18px;
    padding: auto;
    padding-top: 0.5em;
    appearance: none;
    padding-bottom: 0.5em;
    width:10%;
    font-weight: 600;
    border-radius: 5px;
    cursor:pointer;
    line-height: 1.2;
}

@media(max-width:840px){
    html{
        font-size:12px;
    }
}

@media(max-width:500px){
    html{
        font-size: 8px;
    }
    .container{
        width:100%;
        margin:0;
        padding:0;
    }
    .main{
        margin: 0;
        padding: 0;
        height:100vh
    }
}
